body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}




/* HEADERRRRRRRR 
    *********************************************************************************/


.top-header {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    color: #999999;
    display: flex;
    align-items: center;

    position: relative;
    top: 0;
}



.nav-links {
    justify-content: flex-start;
    display: flex;
    gap: 160px;
    margin-left: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #999999;
    font-size: 15px;
}

.nav-links a:hover {
    text-decoration: underline;

}


.nav-links a.active {
    color: black;/
}





/* left stripe 
************************************************************************************/



.left-stripe {
    width: 100px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;


    position: fixed;
    top: 0;
    left: 0;
}

.logo-image {
    width: 80px;
    height: 80px;
    margin-top: 100px;

}



/* footer  
************************************************************************************/



.footer {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    color: #999999;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 0;
    position: relative;
    bottom: 0;
    left: 0;
    bottom: 0px;
    font-size: 15px;
    margin-bottom: 40px;
}


.footer a {
    text-decoration: underline;
    color: #999999;
    margin-right: 10px;

}


.footer span {
    text-decoration: none;
}



.search-bar {
    padding: 5px;
    font-size: 15px;
    border: none;
    width: 180px;
    margin-left: 550px;
    border: 1px solid #999999;
    outline: none;

}

.search-bar::placeholder {
    color: #999999;

}

.search-bar:focus::placeholder {
    visibility: hidden;
}






/* MAINNNNNNNNNNNN *
****************************************************************************************************/


.image-gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 70px;
}

/* Each image item */
.image-item {
    border: 0px solid #b37777;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
}

.image-item:hover .image-title {
    background: #ffff99;
}


/* Styling for the image */
.gallery-image {


    width: 200px;
    height: 280px;
    object-fit: cover;
}


.image-title {
    font-size: 12px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 5px;
    color: #333;
    
    transition: background-color 0.3s ease;
    
    text-align: left;

}

.image-item a {
    text-decoration: none;
}





.thumb-tags {
    display: flex;
    text-align: left;
    gap: 5px;
    margin-top: 1px;


}


.thumb-tag {

    padding: 0px 0px;
    border-radius: 0px;
    font-size: 11px;
    color: #999999;
    cursor: pointer;


}

.thumb-tag:hover {
    text-decoration: underline;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}